/* Текст в ячейке таблицы */
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 0;
}

/* Темная тема для текста таблицы */
.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
